### Importing the required libraries

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

## 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
soup = BeautifulSoup(page.content)

In [4]:
header_tags = soup.find_all(['h1','h2','h3','h4','h5','h6'])
print(*header_tags, sep='\n')

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>
<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [5]:
imdb = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100')
imdb

In [6]:
soup = BeautifulSoup(imdb.content)

In [7]:
total = soup.find_all("div", class_='lister-item-content')

In [8]:
movie_name=[]
release_year=[]
rating =[]

for i in total:
    name = i.h3.a.text
    movie_name.append(name)
for i in total:
    year_of_release = i.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','').replace(' ','') 
    release_year.append(year_of_release)
for i in total:
    rat = i.div.find('div', class_='inline-block ratings-imdb-rating').get('data-value')
    rating.append(rat)

## Creating the DataFrame

In [9]:
top_100 = pd.DataFrame({'Movie_Name':movie_name, 'Year_of_Release':release_year, 'Rating':rating})

In [10]:
top_100

                                       Movie_Name Year_of_Release Rating
0                        The Shawshank Redemption            1994    9.3
1                                   The Godfather            1972    9.2
2                                 The Dark Knight            2008      9
3   The Lord of the Rings: The Return of the King            2003      9
4                                Schindler's List            1993      9
..                                            ...             ...    ...
95                             North by Northwest            1959    8.3
96                                        Vertigo            1958    8.3
97                            Singin' in the Rain            1952    8.3
98                                   Citizen Kane            1941    8.3
99              M - Eine Stadt sucht einen Mörder            1931    8.3

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [11]:
imdb_indian = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
ind_soup = BeautifulSoup(imdb_indian.content)

In [12]:
movies = []
ratings=[]
year = []

In [13]:
for i in ind_soup.find_all('td',class_='titleColumn'):
    name = i.find('a').text
    movies.append(name)
movies = movies[:100]
for i in ind_soup.find_all('td',class_='ratingColumn imdbRating'):
    rating = i.find('strong').text
    ratings.append(rating)
ratings = ratings[:100]
for i in ind_soup.find_all('td',class_='titleColumn'):
    yor = i.find('span',class_='secondaryInfo').text.replace('(','').replace(')','').replace(' ','')
    year.append(yor)
year = year[:100]

## Creating the DataFrame

In [14]:
top_indian = pd.DataFrame({'Title':movies, 'YOR':year, 'Rating':ratings})
top_indian

                                  Title   YOR Rating
0                               Kantara  2022    8.6
1   Ramayana: The Legend of Prince Rama  1993    8.5
2            Rocketry: The Nambi Effect  2022    8.4
3                            Anbe Sivam  2003    8.4
4                               Nayakan  1987    8.4
..                                  ...   ...    ...
95                          Ustad Hotel  2012    8.0
96             Theeran Adhigaaram Ondru  2017    8.0
97                      Rang De Basanti  2006    8.0
98          Baahubali 2: The Conclusion  2017    8.0
99                               Angoor  1982    8.0

[100 rows x 3 columns]

## 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [15]:
ind_pre = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
pres_soup = BeautifulSoup(ind_pre.content)

In [16]:
names = []
Term_of_Office=[]

In [17]:
for i in pres_soup.find_all('div', class_='presidentListing'):
    name = i.find('h3').text.split('(')[0]
    names.append(name)
for i in pres_soup.find_all('div', class_='presidentListing'):
    duration = i.find('p').text.split(':')[1]
    Term_of_Office.append(duration)

## Creating the DataFrame

In [18]:
indian_prez = pd.DataFrame({'Name of the President':names, 'Term-of-Office':Term_of_Office})
indian_prez

,Name of the President,Term-of-Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#### b) Top 10 ODI Batsmen along with the records of their team and rating.
#### c) Top 10 ODI bowlers along with the records of their team and rating.

#### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [19]:
odi_page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
odi_soup = BeautifulSoup(odi_page.content)

In [20]:
name=[]
matches=[]
points=[]
rating=[]

In [21]:
for i in odi_soup.find_all('span',class_='u-show-phablet'):
    names=i.text
    name.append(names)

In [22]:
firstmatch = []
firstpoint = []
firstrating =[]

first= odi_soup.find('td',class_='rankings-block__banner--matches').text
firstmatch.append(first)

firstp= odi_soup.find('td',class_='rankings-block__banner--points').text
firstpoint.append(firstp)

firstr= odi_soup.find('td',class_='rankings-block__banner--rating u-text-right').text.strip()
firstrating.append(firstr)

In [23]:
rem_mat_points = []
for i in odi_soup.find_all('td', class_='table-body__cell u-center-text'):
    match = i.text
    rem_mat_points.append(match)

rem_mat = rem_mat_points[0:38:2]
rem_poi = rem_mat_points[1:38:2]

In [24]:
rem_rat = []
for i in odi_soup.find_all('td',class_= 'table-body__cell u-text-right rating'):
    ratings = i.text
    rem_rat.append(ratings)

In [25]:
matches = firstmatch+rem_mat
points = firstpoint+rem_poi
rating = firstrating + rem_rat

## Creating the DataFrame

In [26]:
ODI = pd.DataFrame({'Team':name, 'Matches':matches, 'Points':points, 'Rating':rating})
ODI

   Team Matches Points Rating
0   ENG      27  3,226    119
1    NZ      22  2,508    114
2   IND      34  3,802    112
3   PAK      22  2,354    107
4   AUS      29  3,071    106
5    SA      24  2,392    100
6   BAN      30  2,753     92
7    SL      29  2,658     92
8    WI      41  2,902     71
9   AFG      18  1,238     69
10  IRE      23  1,214     53
11  SCO      27  1,254     46
12  ZIM      26  1,098     42
13  NAM      19    642     34
14  NED      21    673     32
15  UAE      22    697     32
16  OMA      30    919     31
17  USA      27    641     24
18  NEP      22    331     15
19  PNG      26    209      8

#### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [27]:
odi_bat = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
bat_soup = BeautifulSoup(odi_bat.content)

In [28]:
name=[]
team=[]
rating=[]

In [29]:
firstname = []
firstteam = []
firstrating =[]

first= bat_soup.find('div',class_='rankings-block__banner--name-large').text
firstname.append(first)

firstt= bat_soup.find('div',class_='rankings-block__banner--nationality').text.strip()
firstteam.append(firstt)

firstr= bat_soup.find('div',class_='rankings-block__banner--rating').text
firstrating.append(firstr)

In [30]:
rem_names = []
for i in bat_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    rem_names.append(i.a.text)
top_2to10 = rem_names[:9]

rem_teams=[]
for i in bat_soup.find_all('span', class_='table-body__logo-text'):
    rem_teams.append(i.text)
top_2to10teams = rem_teams[:9]

rem_ratings=[]
for i in bat_soup.find_all('td', class_='table-body__cell rating'):
    rem_ratings.append(i.text)
top_2to10rat = rem_ratings[:9]

In [31]:
name=firstname+top_2to10
team=firstteam+top_2to10teams
rating=firstrating+top_2to10rat

## Creating the DataFrame

In [32]:
BAT = pd.DataFrame({'Player':name, 'Team':team,'Rating':rating})
BAT

                  Player Team Rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4         Jonny Bairstow  ENG    732
5           David Warner  AUS    725
6            Virat Kohli  IND    722
7           Rohit Sharma  IND    718
8            Ross Taylor   NZ    701
9            Steve Smith  AUS    697

#### c) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
odi_bowl = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bowl_soup = BeautifulSoup(odi_bowl.content)

In [34]:
name=[]
team=[]
rating=[]

In [35]:
firstname = []
firstteam = []
firstrating =[]

first= bowl_soup.find('div',class_='rankings-block__banner--name-large').text
firstname.append(first)

firstt= bowl_soup.find('div',class_='rankings-block__banner--nationality').text.strip()
firstteam.append(firstt)

firstr= bowl_soup.find('div',class_='rankings-block__banner--rating').text
firstrating.append(firstr)

In [36]:
rem_names = []
for i in bowl_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    rem_names.append(i.a.text)
top_2to10 = rem_names[:9]

rem_teams=[]
for i in bowl_soup.find_all('span', class_='table-body__logo-text'):
    rem_teams.append(i.text)
top_2to10teams = rem_teams[:9]

rem_ratings=[]
for i in bowl_soup.find_all('td', class_='table-body__cell rating'):
    rem_ratings.append(i.text)
top_2to10rat = rem_ratings[:9]

In [37]:
name=firstname+top_2to10
team=firstteam+top_2to10teams
rating=firstrating+top_2to10rat

## Creating the DataFrame

In [38]:
BOWL = pd.DataFrame({'Player':name, 'Team':team,'Rating':rating})
BOWL

             Player Team Rating
0       Trent Boult   NZ    775
1    Josh Hazlewood  AUS    718
2  Mujeeb Ur Rahman  AFG    676
3    Shaheen Afridi  PAK    661
4     Mohammad Nabi  AFG    657
5      Mehedi Hasan  BAN    655
6        Matt Henry   NZ    654
7    Mitchell Starc  AUS    653
8       Rashid Khan  AFG    651
9    Jasprit Bumrah  IND    642

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [39]:
odi_page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
odi_soup = BeautifulSoup(odi_page.content)

In [40]:
name=[]
matches=[]
points=[]
rating=[]

In [41]:
for i in odi_soup.find_all('span',class_='u-show-phablet'):
    names=i.text
    name.append(names)
name = name[:10]

In [42]:
firstmatch = []
firstpoint = []
firstrating =[]

first= odi_soup.find('td',class_='rankings-block__banner--matches').text
firstmatch.append(first)

firstp= odi_soup.find('td',class_='rankings-block__banner--points').text
firstpoint.append(firstp)

firstr= odi_soup.find('td',class_='rankings-block__banner--rating u-text-right').text.strip()
firstrating.append(firstr)

In [43]:
rem_mat_points = []
for i in odi_soup.find_all('td', class_='table-body__cell u-center-text'):
    match = i.text
    rem_mat_points.append(match)

rem_mat = rem_mat_points[0:20:2]
rem_poi = rem_mat_points[1:20:2]

rem_mat = rem_mat[:9]
rem_poi = rem_poi[:9]

In [44]:
rem_rat = []
for i in odi_soup.find_all('td',class_= 'table-body__cell u-text-right rating'):
    ratings = i.text
    rem_rat.append(ratings)
rem_rat = rem_rat[:9]

In [45]:
matches = firstmatch+rem_mat
points = firstpoint+rem_poi
rating = firstrating + rem_rat

## Creating the DataFrame

In [46]:
WOM_ODI = pd.DataFrame({'Team':name, 'Matches':matches, 'Points':points, 'Rating':rating})
WOM_ODI

  Team Matches Points Rating
0  AUS      18  3,061    170
1   SA      26  3,098    119
2  ENG      25  2,904    116
3  IND      27  2,820    104
4   NZ      24  2,425    101
5   WI      24  2,334     97
6  BAN      12    932     78
7  PAK      21  1,237     59
8  IRE      11    516     47
9   SL       8    353     44

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [47]:
odi_bat = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
bat_soup = BeautifulSoup(odi_bat.content)

In [48]:
name=[]
team=[]
rating=[]

In [49]:
firstname = []
firstteam = []
firstrating =[]

first= bat_soup.find('div',class_='rankings-block__banner--name-large').text
firstname.append(first)

firstt= bat_soup.find('div',class_='rankings-block__banner--nationality').text.strip()
firstteam.append(firstt)

firstr= bat_soup.find('div',class_='rankings-block__banner--rating').text
firstrating.append(firstr)

In [50]:
rem_names = []
for i in bat_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    rem_names.append(i.a.text)
top_2to10 = rem_names[:9]

rem_teams=[]
for i in bat_soup.find_all('span', class_='table-body__logo-text'):
    rem_teams.append(i.text)
top_2to10teams = rem_teams[:9]

rem_ratings=[]
for i in bat_soup.find_all('td', class_='table-body__cell rating'):
    rem_ratings.append(i.text)
top_2to10rat = rem_ratings[:9]

In [51]:
name=firstname+top_2to10
team=firstteam+top_2to10teams
rating=firstrating+top_2to10rat

## Creating the DataFrame

In [52]:
WOM_BAT = pd.DataFrame({'Player':name, 'Team':team,'Rating':rating})
WOM_BAT

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    725
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8    Amy Satterthwaite   NZ    661
9  Chamari Athapaththu   SL    655

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [53]:
wom_odi_ar = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
ar_soup = BeautifulSoup(wom_odi_ar.content)

In [54]:
name=[]
team=[]
rating=[]

In [55]:
firstname = []
firstteam = []
firstrating =[]

first= ar_soup.find('div',class_='rankings-block__banner--name-large').text
firstname.append(first)

firstt= ar_soup.find('div',class_='rankings-block__banner--nationality').text.strip()
firstteam.append(firstt)

firstr= ar_soup.find('div',class_='rankings-block__banner--rating').text
firstrating.append(firstr)

In [56]:
rem_names = []
for i in ar_soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    rem_names.append(i.a.text)
top_2to10 = rem_names[:9]

rem_teams=[]
for i in ar_soup.find_all('span', class_='table-body__logo-text'):
    rem_teams.append(i.text)
top_2to10teams = rem_teams[:9]

rem_ratings=[]
for i in ar_soup.find_all('td', class_='table-body__cell rating'):
    rem_ratings.append(i.text)
top_2to10rat = rem_ratings[:9]

In [57]:
name=firstname+top_2to10
team=firstteam+top_2to10teams
rating=firstrating+top_2to10rat

## Creating the DataFrame

In [58]:
WOM_AR = pd.DataFrame({'Player':name, 'Team':team,'Rating':rating})
WOM_AR

             Player Team Rating
0   Hayley Matthews   WI    380
1      Ellyse Perry  AUS    374
2    Natalie Sciver  ENG    357
3       Amelia Kerr   NZ    356
4    Marizanne Kapp   SA    349
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    270
7     Jess Jonassen  AUS    246
8    Jhulan Goswami  IND    214
9   Katherine Brunt  ENG    207

## 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#### i) Headline
#### ii) Time
#### iii) News Link

In [59]:
cnbc_page = requests.get('https://www.cnbc.com/world/?region=world')
cnbc_soup = BeautifulSoup(cnbc_page.content)

time =[]
headline=[]
linktonews=[]

for i in cnbc_soup.find_all('time', class_='LatestNews-timestamp'):
    time.append(i.text)

for i in cnbc_soup.find_all('a',class_='LatestNews-headline'):
    headline.append(i.text)

for i in cnbc_soup.find_all('div', class_='LatestNews-headlineWrapper'):
    linktonews.append(i.find('a', class_='LatestNews-headline').get('href'))

NEWS = pd.DataFrame({'Time':time,'Headlines':headline,'Link':linktonews})
NEWS

,Time,Headlines,Link
0,18 Min Ago,Chipotle Mexican Grill's earnings top estimate...,https://www.cnbc.com/2022/10/25/chipotle-mexic...
1,35 Min Ago,Your last chance to secure 9.62% annual intere...,https://www.cnbc.com/2022/10/25/you-must-buy-s...
2,45 Min Ago,Leading Economic Index: What it is and why its...,https://www.cnbc.com/2022/10/25/leading-econom...
3,47 Min Ago,Ex-Trump aide Meadows asks judge to block Geor...,https://www.cnbc.com/2022/10/25/trump-aide-mar...
4,58 Min Ago,Halliburton's earnings beat points to more ups...,https://www.cnbc.com/2022/10/25/halliburtons-e...
5,58 Min Ago,Americans say they will need $1.25 million to ...,https://www.cnbc.com/2022/10/25/americans-say-...
6,2 Hours Ago,New Covid-19 'Scrabble' variants: Here's every...,https://www.cnbc.com/2022/10/25/covid-19-scrab...
7,2 Hours Ago,Apple puts more ads in the iPhone's App Store,https://www.cnbc.com/2022/10/25/apple-puts-mor...
8,2 Hours Ago,"'No clear answer.' How to decide between Roth,...",https://www.cnbc.com/2022/10/25/when-a-roth-or...
9,2 Hours Ago,People who had mild Covid had increased risk o...,https://www.cnbc.com/2022/10/25/people-who-cau...
10,2 Hours Ago,3 ETFs to buy if earnings confirm the bottom i...,https://www.cnbc.com/2022/10/25/3-etfs-to-buy-...
11,2 Hours Ago,"If this trend can hold up, it would spell good...",https://www.cnbc.com/2022/10/25/if-this-trend-...
12,3 Hours Ago,Hawaii couple charged with securities fraud ov...,https://www.cnbc.com/2022/10/25/hawaii-couple-...
13,3 Hours Ago,"Fake billionaire, Harvard MBA grad poseur deni...",https://www.cnbc.com/2022/10/25/fugitive-justi...
14,3 Hours Ago,"Excessively cheap stocks that you can buy now,...",https://www.cnbc.com/2022/10/25/excessively-ch...
15,3 Hours Ago,GOP groups spend $6.2 million in Oz-Fetterman ...,https://www.cnbc.com/2022/10/25/pennsylvania-s...
16,4 Hours Ago,Airlines have the passengers. Now they need th...,https://www.cnbc.com/2022/10/25/airlines-have-...
17,4 Hours Ago,"Stocks making the biggest moves midday: Xerox,...",https://www.cnbc.com/2022/10/25/stocks-making-...
18,4 Hours Ago,These Big Tech earnings could help answer a ke...,https://www.cnbc.com/2022/10/25/this-latest-ra...
19,4 Hours Ago,Gates' climate-tech firm will put more money i...,https://www.cnbc.com/2022/10/25/bill-gates-cli...
20,4 Hours Ago,One EV maker is best positioned as the group t...,https://www.cnbc.com/2022/10/25/one-ev-maker-i...
21,4 Hours Ago,"South Korea, U.S. in 'intense conversation' ov...",https://www.cnbc.com/2022/10/25/ira-ev-tax-cre...
22,4 Hours Ago,3 takeaways from our daily meeting: Halliburto...,https://www.cnbc.com/2022/10/25/takeaways-from...
23,4 Hours Ago,World Series tickets for games in Philadelphia...,https://www.cnbc.com/2022/10/25/how-much-world...
24,5 Hours Ago,Education Dept. to reduce 'red tape' for publi...,https://www.cnbc.com/2022/10/25/education-depa...
25,5 Hours Ago,This energy storage name can rally 60% from In...,https://www.cnbc.com/2022/10/25/this-under-the...
26,5 Hours Ago,Canopy Growth to speed up entry into U.S. cann...,https://www.cnbc.com/2022/10/25/canopy-to-spee...
27,5 Hours Ago,"Walmart, Disney among top employers that laid ...",https://www.cnbc.com/2022/10/25/nations-12-lar...
28,6 Hours Ago,Arizona GOP governor hopeful Kari Lake draws c...,https://www.cnbc.com/2022/10/25/arizona-govern...
29,6 Hours Ago,Stocks could get a lift from this huge buying ...,https://www.cnbc.com/2022/10/25/stocks-could-g...

## 8). Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
### Scrape below mentioned details :
#### i) Paper Title
#### ii) Authors
#### iii) Published Date
#### iv) Paper URL

In [60]:
journals_page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
ai_soup = BeautifulSoup(journals_page.content)

title =[]
authors=[]
date=[]
url=[]

for i in ai_soup.find_all('h2', class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR'):
    title.append(i.text)

for i in ai_soup.find_all('span',class_='sc-1w3fpd7-0 pgLAT'):
    authors.append(i.text)

for i in ai_soup.find_all('span', class_='sc-1thf9ly-2 bKddwo'):
    date.append(i.span.text)

for i in ai_soup.find_all('li', class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'):
    url.append(i.find('a', class_='sc-5smygv-0 nrDZj').get('href'))

AIJOUR = pd.DataFrame({'Ttle':title,'Authors':authors,'Date':date,'Link':url})
AIJOUR

,Ttle,Authors,Date,Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9). Write a python program to scrape mentioned details from dineout.co.in :
#### i) Restaurant name
#### ii) Cuisine
#### iii) Location
#### iv) Ratings
#### v) Image URL

### For 1st Page

In [61]:
import numpy as np

pages = np.arange(1,312)

names=[]
cuisine=[]
price =[]
location = []
ratings = []
images = []


page = requests.get('https://www.dineout.co.in/bangalore-restaurants')
soup = BeautifulSoup(page.text)
for i in soup.find_all('a',class_ = 'restnt-name ellipsis'):
    names.append(i.text)
for i in soup.find_all('span',class_ = 'double-line-ellipsis'):
    price.append(i.text.split(')')[0] +')')
for i in soup.find_all('span',class_ = 'double-line-ellipsis'):
    cuisine.append(i.text.split(')')[1].replace('|',''))
for i in soup.find_all('div',class_ = 'restnt-loc ellipsis'):
    location.append(i.text)
for i in soup.find_all('div',class_ = {'restnt-rating rating-5','restnt-rating rating-4'}):
    ratings.append(i.text)
for i in soup.find_all('img',class_ = 'no-img'):
    images.append(i.get('data-src'))

In [62]:
RES = pd.DataFrame({'Restaurant_Name':names,'Cuisine':cuisine, 'Location':location,'Rating':ratings,'Image':images})
RES

,Restaurant_Name,Cuisine,Location,Rating,Image
0,The Bier Library Brewery & Kitchen,"Continental, Finger Food, North Indian","Koramangala, South Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
1,Uru Brewpark,"North Indian, Italian, Continental, Asian","JP Nagar, South Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Hard Rock Cafe,"Continental, American, Finger Food","St. Marks Road, Central Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
3,The Bangalore Cafe,"Continental, North Indian, Fast Food","Shanti Nagar, Central Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Toscano,Italian,"UB City,Vittal Mallya Road, Central Bangalore",4.5,https://im1.dineout.co.in/images/uploads/resta...
5,Biergarten,"Continental, European","Koramangala, South Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
6,Badmaash,"North Indian, Chettinad, Andhra, Biryani","UB City,Vittal Mallya Road, Central Bangalore",4.2,https://im1.dineout.co.in/images/uploads/resta...
7,JW Kitchen,"North Indian, Continental","JW Marriott Hotel,Vittal Mallya Road, Central ...",4.4,https://im1.dineout.co.in/images/uploads/resta...
8,Daddy,"Asian, North Indian, European, Italian","Indiranagar, East Bangalore",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Raahi,Fusion,"St. Marks Road, Central Bangalore",4,https://im1.dineout.co.in/images/uploads/resta...
10,Cafe Noir,"Continental, French, European, Health Food, ...","UB City,Vittal Mallya Road, Central Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
11,Cafe Azzure,"Continental, Italian, Desserts, Bengali","MG Road, Central Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,Salt - Indian Restaurant Bar & Grill,"North Indian, Mughlai, South Indian","UB City, Central Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
13,Sanchez,Mexican,"UB City,Vittal Mallya Road, Central Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,1522 - The Pub,"Continental, North Indian, Italian, Asian","Residency Road, Central Bangalore",4.4,https://im1.dineout.co.in/images/uploads/resta...
15,Easy Tiger,Finger Food,"High Profile Building,Church Street, Central B...",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,Shiro,"Japanese, Asian","UB City,Vittal Mallya Road, Central Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,No Limmits Lounge and Club,"North Indian, Continental, Chinese","Allied Grand Plaza,Magrath Road, Central Banga...",3.7,https://im1.dineout.co.in/images/uploads/resta...
18,The Biere Club,Finger Food,"Vittal Mallya Road, Central Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Spice Terrace,"North Indian, Mughlai","JW Marriott Hotel,Vittal Mallya Road, Central ...",4.2,https://im1.dineout.co.in/images/uploads/resta...
20,Stories Brewery and Kitchen,"Continental, Italian, Chinese, North Indian","BTM Layout, South Bangalore",4.3,https://im1.dineout.co.in/images/uploads/resta...

## For multiple pages

In [63]:
import numpy as np

pages = np.arange(1,312)

names=[]
cuisine=[]
price =[]
location = []
images = []

for page in pages:
    page = requests.get('https://www.dineout.co.in/bangalore-restaurants?p='+str(page))
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('a',class_ = 'restnt-name ellipsis'):
        names.append(i.text)
    for i in soup.find_all('span',class_ = 'double-line-ellipsis'):
        price.append(i.text.split(')')[0] +')')
    for i in soup.find_all('span',class_ = 'double-line-ellipsis'):
        cuisine.append(i.text.split(')')[1].replace('|',''))
    for i in soup.find_all('div',class_ = 'restnt-loc ellipsis'):
        location.append(i.text)
    for i in soup.find_all('img',class_ = 'no-img'):
        images.append(i.get('data-src'))

In [64]:
RES_ALL = pd.DataFrame({'Restaurant_Name':names,'Cuisine':cuisine, 'Location':location,'Price':price,'Image':images})
RES_ALL

,Restaurant_Name,Cuisine,Location,Price,Image
0,The Bier Library Brewery & Kitchen,"Continental, Finger Food, North Indian","Koramangala, South Bangalore","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Uru Brewpark,"North Indian, Italian, Continental, Asian","JP Nagar, South Bangalore","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Hard Rock Cafe,"Continental, American, Finger Food","St. Marks Road, Central Bangalore","₹ 2,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,The Bangalore Cafe,"Continental, North Indian, Fast Food","Shanti Nagar, Central Bangalore",₹ 800 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
4,Toscano,Italian,"UB City,Vittal Mallya Road, Central Bangalore","₹ 1,600 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
...,...,...,...,...,...
6526,Epulo Vineyard Restaurant,"North Indian, Continental","Bangalore Mysore Highway, South Bangalore",₹ 800 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
6527,McDonald's,"Fast Food, Burger","Bangalore Mysore Highway, South Bangalore",₹ 500 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
6528,Kailash Parbat,"North Indian, Street Food","VV Mohalla, North Mysore",₹ 600 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
6529,Infinity,"North Indian, Mughlai","The Zuri Whitefield,Whitefield, East Bangalore","₹ 2,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6530,Domino's Pizza,"Pizza, Italian, Fast Food","Brookefield Mall,Brookefields, East Bangalore",₹ 500 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
#### i) Rank
#### ii) Publication
#### iii) h5-index
#### iv) h5-median

In [65]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup = BeautifulSoup(page.text)

rank = []
publication =[]
h5_index = []
h5_median = []
h5_link = []

for i in soup.find_all('td',class_='gsc_mvt_p'):
    rank.append(i.text)
for i in soup.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)
for i in soup.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5_index.append(i.text)
for i in soup.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5_link.append('https://scholar.google.com/'+ str(i.get('href')))
for i in soup.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    h5_median.append(i.text)



PUB = pd.DataFrame({'Rank':rank, 'Publication':publication, 'h5_index':h5_index,'h5_median':h5_median,'h5_link':h5_link})
PUB

,Rank,Publication,h5_index,h5_median,h5_link
0,1.,Nature,444,667,https://scholar.google.com//citations?hl=en&oe...
1,2.,The New England Journal of Medicine,432,780,https://scholar.google.com//citations?hl=en&oe...
2,3.,Science,401,614,https://scholar.google.com//citations?hl=en&oe...
3,4.,IEEE/CVF Conference on Computer Vision and Pat...,389,627,https://scholar.google.com//citations?hl=en&oe...
4,5.,The Lancet,354,635,https://scholar.google.com//citations?hl=en&oe...
...,...,...,...,...,...
95,96.,Journal of Business Research,145,233,https://scholar.google.com//citations?hl=en&oe...
96,97.,Molecular Cancer,145,209,https://scholar.google.com//citations?hl=en&oe...
97,98.,Sensors,145,201,https://scholar.google.com//citations?hl=en&oe...
98,99.,Nature Climate Change,144,228,https://scholar.google.com//citations?hl=en&oe...
99,100.,IEEE Internet of Things Journal,144,212,https://scholar.google.com//citations?hl=en&oe...