In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
#### A) Rank
#### B) Name
#### C) Artist
#### D) Upload date
#### E) Views

In [2]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

time.sleep(5)

In [3]:
rank = []
name = []
uploader = []
views = []
date = []

In [4]:
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]'):
    rank .append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]'):
    name .append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]'):
    uploader .append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]'):
    views .append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]'):
    date .append(i.text)

In [5]:
top_vid = pd.DataFrame({'Rank':rank,'Name':name, 'Uploader':uploader, 'Views':views, 'Published_Date':date})
top_vid

,Rank,Name,Uploader,Views,Published_Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,11.83,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.02,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.54,"October 8, 2016"
3,4.,"""Shape of You""[15]",Ed Sheeran,5.86,"January 30, 2017"
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,5.81,"May 2, 2018"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.71,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.04,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.77,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,4.74,"February 27, 2018"
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,4.69,"May 24, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.62,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.15,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.79,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.69,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.69,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.63,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.61,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.52,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.44,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.40,"February 20, 2014"
21,22.,"""Faded""[42]",Alan Walker,3.38,"December 3, 2015"
22,23.,"""Girls Like You""[43]",Maroon 5,3.35,"May 31, 2018"
23,24.,"""Let Her Go""[44]",Passenger,3.35,"July 25, 2012"
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.34,"June 4, 2010"
25,26.,"""Perfect""[46]",Ed Sheeran,3.31,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.30,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.29,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.24,"January 26, 2018"
29,30.,"""Shake It Off""[50]",Taylor Swift,3.23,"August 18, 2014"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
### You need to find following details:
#### A) Match title (I.e. 1st ODI)
#### B) Series
#### C) Place
#### D) Date
#### E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [22]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.bcci.tv/'
driver.get(url)

time.sleep(5)

In [23]:
driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()
time.sleep(5)

In [24]:
driver.find_element(By.XPATH,'/html/body/div[6]/button').click()
time.sleep(5)

In [25]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button').click()
time.sleep(5)

In [26]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button').click()
time.sleep(5)

In [27]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button').click()
time.sleep(3)

In [28]:
title = []
series = []
place = []
date = []
mat_time = []

In [29]:
for i in driver.find_elements(By.XPATH, '//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]/div/div/h5[2]/span'):
    series.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope"]/span[1]'):
    title.append(i.text.split('-')[0])
for i in driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope"]'):
    place.append(i.text.split('-')[1])
for i in driver.find_elements(By.XPATH, '//div[@class="fixture-card-top"]/div/div[1]/h5'):
    date.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="fixture-card-top"]/div/div[2]/h5'):
    mat_time.append(i.text)

In [30]:
df = pd.DataFrame({'TitleOfMatch':title,'Series':series, 'Place':place, 'Date':date, 'Time':mat_time})
df

,TitleOfMatch,Series,Place,Date,Time
0,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",10 DEC 2022,LIVE
1,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium, NAVI MUMBAI",11 DEC 2022,7:00 PM IST
2,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",14 DEC 2022,9:30 AM IST
3,3rd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,14 DEC 2022,7:00 PM IST
4,4th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,17 DEC 2022,7:00 PM IST
5,5th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,20 DEC 2022,7:00 PM IST
6,2nd Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka",22 DEC 2022,9:30 AM IST
7,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:30 PM IST
8,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:30 PM IST
9,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:30 PM IST
10,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
11,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
12,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST
13,1st ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium, Hyderabad",18 JAN 2023,1:30 PM IST
14,2nd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Cric...,21 JAN 2023,1:30 PM IST
15,3rd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST
16,1st T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"JSCA International Stadium Complex, Ranchi",27 JAN 2023,7:30 PM IST
17,2nd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 JAN 2023,7:30 PM IST
18,3rd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:30 PM IST
19,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
20,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
21,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
22,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
23,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
24,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
25,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
### You need to find following details:
#### A) Name
#### B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [115]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.guru99.com/'
driver.get(url)

time.sleep(5)

In [116]:
search_box = driver.find_element(By.XPATH,'//table[@class = "gstl_50 gsc-input"]/tbody/tr/td/input')
search_box.send_keys('exception handling selenium')
time.sleep(4)

In [117]:
driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button').click()
time.sleep(4)

In [118]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a').click()
time.sleep(4)

In [119]:
driver.switch_to.window(driver.window_handles[1])

In [120]:
name = []
for i in driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong'):
    name.append(i.text)
name = name[:-6]

In [121]:
names = []
for i in name:
    names.append(i.split('.')[1].split(':')[0])

In [122]:
des = []
for i in driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p'):
    des.append(i.text)

In [123]:
des = des[:-12]

In [124]:
len(des)

41

In [125]:
desc= []
for i in des:
    try:
        desc.append(i.split(':')[1])
    except:
        desc.append(i)

In [126]:
len(desc)

41

In [127]:
excep = pd.DataFrame({'NameofException':names,'Description':desc})
excep

,NameofException,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
### You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP(18-19)- at current prices
#### D) GSDP(19-20)- at current prices
#### E) Share(18-19)
#### F) GDP(billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [198]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://statisticstimes.com/'
driver.get(url)

time.sleep(5)

In [8]:
from selenium.webdriver.common.action_chains import ActionChains

In [200]:
a = ActionChains(driver)
m = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
a.move_to_element(m).perform()
time.sleep(3)

In [201]:
ind = driver.find_element(by = By.LINK_TEXT, value="India")
ind.click()
time.sleep(5)

In [203]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [204]:
rank = []
state = []
prev = []
cur = []
share = []
gdp = []

In [205]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]'):
    rank.append(i.text)

In [206]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    state.append(i.text)

In [207]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    cur.append(i.text)

In [208]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    prev.append(i.text)

In [209]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    share.append(i.text)

In [210]:
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    gdp.append(i.text)

In [211]:
df = pd.DataFrame({'Rank':rank,'State':state, 'GSDP(18-19)- at current prices':prev, 'GSDP(19-20)- at current prices':cur, 'Share(18-19)':share,'GDP($ billion)':gdp})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
### You have to find the following details:
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [6]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://github.com/'
driver.get(url)

time.sleep(5)

In [9]:
a = ActionChains(driver)
m = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
a.move_to_element(m).perform()
time.sleep(3)

In [10]:
trnd = driver.find_element(by = By.LINK_TEXT, value="Trending")
trnd.click()
time.sleep(5)

In [11]:
name = []
des = []
ccount = []
lang = []

In [12]:
for i in driver.find_elements(By.XPATH,'//article/h1/a'):
    name.append(i.text.split('/')[1])

In [13]:
len(name)

25

In [15]:
for i in driver.find_elements(By.XPATH,'//article/p'):
    des.append(i.text)

In [16]:
len(des)

25

In [17]:
df = pd.DataFrame({'Name':name,'Description':des})
df

,Name,Description
0,wechat-chatgpt,Use ChatGPT On Wechat via wechaty
1,whisper.cpp,Port of OpenAI's Whisper model in C/C++
2,react-router,Declarative routing for React
3,ChatGPT-wechat-bot,ChatGPT for wechat
4,reth,"Modular, contributor-friendly and blazing-fast..."
5,wechatbot,为个人微信接入ChatGPT
6,PyChatGPT,⚡️ Python client for the unofficial ChatGPT AP...
7,surrealdb,"A scalable, distributed, collaborative, docume..."
8,chatgpt-chrome-extension,A ChatGPT Chrome extension. Integrates ChatGPT...
9,Hippy,Hippy is designed to easily build cross-platfo...
10,ChatGPT,Lightweight package for interacting with ChatG...
11,TeachYourselfCS-CN,TeachYourselfCS 的中文翻译 | A Chinese translation ...
12,stat_rethinking_2023,Statistical Rethinking Course for Jan-Mar 2023
13,clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript
14,awesome-chatgpt,"Curated list of awesome tools, demos, docs for..."
15,uptime-kuma,A fancy self-hosted monitoring tool
16,javascript-questions,A long list of (advanced) JavaScript questions...
17,awesome-chatgpt-prompts,This repo includes ChatGPT promt curation to u...
18,lyra,"🌌 Fast, in-memory, typo-tolerant, full-text se..."
19,chatgpt-mac,"ChatGPT for Mac, living in your menubar."
20,whisper,Robust Speech Recognition via Large-Scale Weak...
21,javascript-algorithms,📝 Algorithms and data structures implemented i...
22,OpenBBTerminal,"Investment Research for Everyone, Anywhere."
23,free-programming-books,📚 Freely available programming books
24,system-design-primer,Learn how to design large-scale systems. Prep ...

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
### You have to find the following details:
#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [45]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https:/www.billboard.com/'
driver.get(url)

time.sleep(5)

In [46]:
driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[1]/div[1]/button').click()
time.sleep(3)

In [47]:
driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div/div/ul/li[1]/ul/li[2]/a').click()
time.sleep(3)

In [48]:
rank = []
song = []
artist = []
lw = []
pp = []
woc = []

In [49]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul'):
    rank.append(i.get_attribute("data-detail-target"))

In [50]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3'):
    song.append(i.text)

In [51]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span'):
    artist.append(i.text)

In [52]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span'):
    lw.append(i.text)

In [53]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span'):
    pp.append(i.text)

In [54]:
for i in driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span'):
    woc.append(i.text)

In [55]:
df = pd.DataFrame({'Rank':rank,'SongName':song, 'ArtistName':artist, 'Last week rank':lw, 'Peak rank':pp,'Weeks on board':woc})
df

,Rank,SongName,ArtistName,Last week rank,Peak rank,Weeks on board
0,1,Anti-Hero,Taylor Swift,1,1,6
1,2,All I Want For Christmas Is You,Mariah Carey,5,1,54
2,3,Rockin' Around The Christmas Tree,Brenda Lee,6,2,48
3,4,Unholy,Sam Smith & Kim Petras,3,1,10
4,5,Jingle Bell Rock,Bobby Helms,9,3,45
...,...,...,...,...,...,...
95,96,Someday At Christmas,Lizzo,-,96,1
96,97,Vigilante Shit,Taylor Swift,73,10,6
97,98,Forget Me,Lewis Capaldi,-,95,6
98,99,"Going, Going, Gone",Luke Combs,98,98,3
99,100,Miss You,Oliver Tree & Robin Schulz,91,84,6

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
### You have to find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [56]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.naukri.com/'
driver.get(url)

time.sleep(5)

This link does ot work as there are only 3 options 
1. Jobs
2. Companies
3. Services

In [215]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

time.sleep(5)

In [216]:
srch = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
srch.send_keys("Data Science")

In [217]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()
time.sleep(5)

In [218]:
loc = ['Delhi','Bengaluru','Bangalore','Bengaluru / Bangalore','Hyderabad / Secunderabad','Hyderabad','Vadodara / Baroda','Vadodara','Baroda','Chennai','Mumbai','Pune','Ahmedabad','Kolkata','Ernakulam','Kochi','Cochin','Indore','Jaipur','Coimbatore','Chandigarh','Navi' 'Mumbai','Lucknow','Trivandrum','Nagpur','Surat','Bhopal','Mohali','Aurangabad','Visakhapatnam','Bhubaneshwar','Ludhiana','Nasik']

In [219]:
name = []
title = []
company = []
location = []
skills = []

In [220]:
for i in range(1,120):
    url = 'https://www.naukri.com/data-science-recruiters-'+str(i)+'?xz=1_0_0&xid=167066073333664400'
    driver.get(url)
    time.sleep(1)
    for j in driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/a/span'):
        name.append(j.text)
    for j in driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/span[@class="ellipsis clr"]'):
        title.append(j.text)
    for j in driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/a[2]'):
        company.append(j.get_attribute('title'))
    x = driver.find_elements(By.XPATH,'//div[@class="vcard"]/p')
    a = []
    for i in x:
        a.append(i.text)
    locs = []
    for i in a:
        locs.append(i.split('\n')[-1])
    for i in locs:
        if i in loc:
            location.append(i)
        else:
            location.append('others')
    for j in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]'):
        skills.append(j.text)

In [221]:
df = pd.DataFrame({'Name':name,'Title':title, 'Company':company, 'Location':location, 'SkillsHiredfor':skills})
df

,Name,Title,Company,Location,SkillsHiredfor
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,others,"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
5940,manoj gupta,Chief Executive,OMGI Placements,Aurangabad,"Production, Manufacturing, Quality Control, Qu..."
5941,Abhishek Singh,Sr. Talent Acquisition,Squareroot Consulting Pvt Ltd.,Bengaluru / Bangalore,"Automation Testing, Manual Testing, Performanc..."
5942,Vaishali,TA Lead,HiMedia Laboratories Pvt. Ltd.,Mumbai,Microbiology
5943,Dhara,Talent Acquisition Pan India SAP,DELTA SYS-TECH(INDIA) PVT LTD,Vadodara / Baroda,Not Specified
5944,Doksiri,Data Analyst,Adelement,Pune,Not Specified

# 8. Scrape the details of Highest selling novels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
#### You have to find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [223]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

time.sleep(5)

In [224]:
bname = []
aname = []
volsold = []
pub = []
genre = []

In [228]:
for i in driver.find_elements(By.XPATH, '//tbody/tr/td[2]'):
    bname.append(i.text)
for i in driver.find_elements(By.XPATH, '//tbody/tr/td[3]'):
    aname.append(i.text)
for i in driver.find_elements(By.XPATH, '//tbody/tr/td[4]'):
    volsold.append(i.text)
for i in driver.find_elements(By.XPATH, '//tbody/tr/td[5]'):
    pub.append(i.text)
for i in driver.find_elements(By.XPATH, '//tbody/tr/td[6]'):
    genre.append(i.text)

In [229]:
df = pd.DataFrame({'BookName':bname,'AuthorName':aname, 'VolumeSales':volsold, 'Publisher':pub, 'Genre':genre})
df

,BookName,AuthorName,VolumeSales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [237]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

time.sleep(5)

In [238]:
name = []
year = []
genre = []
rt = []
rat = []
votes = []

In [239]:
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]'):
    year.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[@class="genre"]'):
    genre.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[@class="runtime"]'):
    rt.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]'):
    rat.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]'):
    votes.append(i.text)

In [240]:
df = pd.DataFrame({'Name':name,'Year':year, 'Genre':genre, 'RunTime':rt, 'Ratings':rat,'Votes':votes})
df

,Name,Year,Genre,RunTime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,091,066"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,180,538"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"989,510"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,970"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,129"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,206"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,510"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,499"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,402"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
### You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [261]:
driver = webdriver.Chrome(r'C:\Users\bhanu\chromedriver.exe')
driver.maximize_window()

url = 'https://archive.ics.uci.edu/'
driver.get(url)

time.sleep(5)

In [262]:
driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()
time.sleep(4)

In [263]:
name = []
dtype = []
task = []
atype = []
ins = []
att = []
yr = []

In [264]:
for i in driver.find_elements(By.XPATH, '//td[@valign="top"]/table[@border="1"]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p[@class="normal"]'):
    dtype.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p[@class="normal"]'):
    task.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p[@class="normal"]'):
    atype.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p[@class="normal"]'):
    ins.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p[@class="normal"]'):
    att.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p[@class="normal"]'):
    yr.append(i.text)

In [266]:
df = pd.DataFrame({'Name':name,'Data Type':dtype, 'Task':task, 'Attribute Type':att, 'Instances':ins,'NumAttributes':att,'Year':yr})
df

,Name,Data Type,Task,Attribute Type,Instances,NumAttributes,Year
0,Abalone,Multivariate,Classification,8,4177,8,1995
1,Adult,Multivariate,Classification,14,48842,14,1996
2,Annealing,Multivariate,Classification,38,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,294,37711,294,1998
4,Arrhythmia,Multivariate,Classification,279,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,525,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,50,400,50,2020
619,Maternal Health Risk Data Set,,Classification,7,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,16,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,2,4000,2,2021